/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {
    background-color: #c26c33; // Header background color
    padding: 1rem 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; // Pushes elements to each side
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo-link img {
    height: 50px;
}

.company-name {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align:left;
    flex-grow: 1; // Ensures text stays centered
}

.phone-number {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: auto; // Moves phone number to the right
    padding-right: 1rem; // Adds spacing from the edge
}

// end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#navWrapper {
    background-color: $primaryColor;
}
nav {
    ul {
        padding: 0;
        margin: 0 $gutter;
    }
    ul li {
        list-style-type: none;
    }
    ul li a { 
        color: $greyColor;
        text-decoration: none;
        display: block;
        padding: .8rem $gutter;
    } //end ul li a 
    ul li.active a {
        background-color: rgba(234, 179, 96, 0.8);
        color: $primaryColor;
        border-radius: 10px;
    }
}













/* --------------------------- MAIN --------------------------- */
main {
    
.shows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 300px;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: $secondaryColor;
    text-align: center;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .card-info {
        background: $primaryColor;
        padding: 15px;
        color: $text-color;
        
        h2 {
            font-size: 1.2rem;
            margin: 0;
        }

        p {
            font-size: 1rem;
            margin: 5px 0 0;
        }
    }
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}

}
footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: white;
    text-align: center;
    line-height: $leading;
    background-color: $primaryColor;
    a {color: $greyColor;}
}

// end footer