$primaryColor: #1d295f; 
$secondaryColor: #ed9430;
$accentColor: #fdae59;
$greyColor: #fefefe;
$text-color: #fff;
$border-radius: 10px;


$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;